body{
    background-color: black;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/217/366/non_2x/polygonal-blue-background-vector.jpg);
}

h1{
    color: purple;
    background-color: yellow;
    font-size: 100px;
}